<p>Contacto recibido a trav&eacute;s de la web:</p>
<p>Nombre: <%= @contact.name %></p>
<p>Email: <%=  @contact.email %></p>
<p>Tel&eacute;fono: <%=  @contact.phone %></p>

<p>
  <%=  @contact.topic %>
</p>

<p>
  <%=  @contact.message %>
</p>
